/* css styles */
#welcome-container{
    display: flex; 
    justify-content: space-between; 
    gap: 0px
}

.welcome-element{
    flex: auto;
}

#profile-picture{
    width: 90%;
    height: auto;
}

.quick-links-container{
    display: flex; 
    justify-content: space-between; 
    gap: 10px
}

.landing-page-links{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.landing-page-links:hover{
    color: darkslategray;
    font-weight: normal;
}

.resume-contact a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.resume-contact a:hover{
    color: darkslategray;
}

.resume-project-link{
    text-decoration: none;
    color: black;
}

.resume-project-link:hover{
    color: darkslategray;
}